* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono";
    color: var(--fg);
}

body {
    padding: 10px;
    background: var(--bg);
    font-size: 18px;
    min-height: 100vh;
}

/* Theming */

::selection {
    background: var(--selection);
}

.black {
    color: var(--black);
}

.red {
    color: var(--red);
}

.green {
    color: var(--green);
}

.yellow {
    color: var(--yellow);
}

.blue {
    color: var(--blue);
}

.magenta {
    color: var(--magenta);
}

.cyan {
    color: var(--cyan);
}

.white {
    color: var(--white);
}

/* WinBox */
.winbox .wb-header {
    background: var(--selection);
    color: var(--fg);
}

.winbox .wb-header .wb-title {
    font-family: "Roboto Mono";
}

/* Layout */

.terminal-input {
    display: inline-block;
    background: transparent;
    outline: none;
    border: none;
    font-size: inherit;
}
